.container {
    height: 600px;
}

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filterActions {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
}

.financeActionsOuterContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.financeActionsContainer {
    display: grid;
    grid-template-rows: repeat(2, 50px);
    grid-template-columns: repeat(2, 50px);
    margin-top: 10px;
}

.modalContainer {
    display: grid;
    grid-template-rows: repeat(4, 60px);
    grid-template-columns: 1fr 2.8fr;
    row-gap: 10px;
    column-gap: 17px;
    align-items: center;
    padding-top: 17px;
}

.modalLabels {
    text-align: end;
    font-weight: 600;
}

.displayLineBreak {
    white-space: pre-line;
    width: 200px;
    margin: 0 auto;
}

.invoiceContainer {
    width: 300px;
}