.container {
    height: 600px;
}

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.filterActions {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
}

.financeActionsOuterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.financeActionsContainer {
    display: flex;
    align-items: center;
    margin-top: 20px;
}