.todayLessonsSection {
    width: 70%;
}

.todayEarningsSection {
    width: 30%;
    padding: 20px;
}

.todayEarningsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.disabledButton {
    opacity: 0.5;
    cursor: not-allowed;
}

.dateHeader {
    font-size: 1.5em;
}

.todayLessonsHeader {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 15px;
}