.calendar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
}

.calendarHeaderContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calendarActions {
    display: flex;
    align-items: center;
}

.lessonInfoContainer {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    margin: 1px;
    background-color: wheat;
    cursor: pointer;
}

.lessonInfo {
    font-size: 13px;
}
.lessonInfoContainer:hover {
    background-color: beige;
}