.container {
    display: flex;
    height: 600px;
}

.studentListSection {
    width: 30%;
}

.studentInfoSection {
    width: 70%;
}

.studentList {
    border: solid grey 1px;
    margin: 10px 0;
    height: 90%;
}

.studentInfo {
    margin: 10px 0;
    margin-left: 30px;
    border: solid grey 1px;
    height: 100%;
}